
#mural{
    /* border: 1px solid red; */
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.877);
    z-index: 2;
}

#printMural{
    /* border: 1px solid white; */
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

#printMural .img{
    width: 100%;
    object-fit: contain;
    z-index: 3;
}

#removeMural{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    border-color: white;
    font-weight: bold;
    font-size: clamp(1rem, 1vw, 2rem) !important; 
    transition: all 0.5s;
    z-index: 4;
    width: max-content;
}

.titulo{
    font-size: clamp(1.6rem, 5vw, 4rem) !important; 
}

.area-galeria{
    /* border: 1px solid red; */
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 30px;
    gap: 30px 10px;
    margin: 0 50px;
}

.obras{
    /* border: 1px solid black; */
    padding: 20px;
    width: 100%;
    max-width: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--silver);
    cursor: pointer !important;
    padding-bottom: 50px;
}

.obras:hover img{
    scale: 1.02;
    transition: all 1s;
}

.area-img{
    width: 100%;
    max-width: 500px;
}

.area-img img{
    width: 100%;
    object-fit: contain;
    transition: all 1s;
}

.imgObras{
    width: 100% !important;
    height: auto;
    object-fit: cover;
}