
@media screen and (max-width: 1020px){
    #area-perfil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #area-sidebar{
        width: 100%;
        max-width: 650px;
    }
}